* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: scroll;
  text-align: center;
  background-color: #1a1a3bfc;
  min-height: 100vh;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#main {
  padding: 2rem;
  background-color: #1a1a3bfc;
  color: whitesmoke;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  padding-bottom: 6rem;
}
#main2 {
  padding: 2rem;
  background-color: #1a1a3bfc;
  color: whitesmoke;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 2rem;
  padding-bottom: 6rem;
}
input,
button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
}
a {
  color: white;
}
a:hover {
  color: aqua;
}
main {
  flex: 1;
}
@media (max-width: 700px) {
  #main {
    font-size: 1rem;
    min-height: 93vh;
    padding-bottom: 10rem;
  }
  #main2 {
    font-size: 1rem;
    min-height: 93vh;
    padding-bottom: 10rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  input,
  button {
    font-size: 1rem;
    padding: 0.6rem;
  }
  #footer {
    min-height: 7vh;
  }
}
